.song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 60vh;

    img {
        width: 20%;
        border-radius: 50%;
        object-fit: cover;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}

@keyframes rotate-animation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate-animation 20s linear forwards infinite;
}

@media screen and (max-width: 768px) {
    .song-container > img {
        width: 60%;
    }
}
